<!-- generated: 29/09/2016 12:48:00 -->
<!-- Cep´s page -->
<div class="breadcrumbs" id="breadcrumbs">
	<ul class="breadcrumb">
		<li>
			<i class="ace-icon fa fa-home home-icon"></i>
			<a href="#">Home</a>
		</li>
		<li class="active">Pesquisa Cep</li>
	</ul>
</div>
<div class="col-sm-12 page-form">
	<div id="messages_div"></div>
	<div class="row">
		<div class="col-xs-12">
			<div class="widget-box ">
				<div class="widget-header widget-header-flat">
					<h4 class="widget-title lighter">
						<i class="ace-icon fa fa-search"></i>
						Pesquisa de Cep
					</h4>
				</div>
				<div class="widget-body">
					<form id="formCepFilter">
						<div class="widget-main  ">
							<div class="row">
								<div class="col-xs-6">
									<a href="#app/newCep" class="btn btn-success">
										<i class="fa fa-plus-circle"></i>
										Novo Registro
									</a>
									&nbsp; &nbsp; &nbsp;
									<a href="javascript:void(0)" id="reset" class="btn reset" >Limpar</a>
								</div>
								<div class="col-sm-6">
									<div class="input-group">
										<input id="inputLogradouro" type="text" class="form-control search-query" placeholder="Pesquisar Cep por Logadouro">
										<span id="query" class="input-group-btn ">
											<button type="button" class="btn btn-inverse btn-white search-button">
												<span class="ace-icon fa fa-search icon-on-right bigger-110 "></span>
												Pesquisar
											</button>
										</span>
									</div>
									<div>
										<a href="javascript:void(-1)" class="show-advanced-search-button"> Pesquisa avançada... </a>
									</div>
								</div>
							</div>
							<div class="widget-box transparent advanced-search-form">
								<div class="widget-header">
									<h4 class="widget-title lighter">Filtros avançados</h4>
								</div>
								<div class="widget-body">
								<!-- inicio dos registros-->							
									<div id="groupInputLogradouro" class="form-group">
										<label class="control-label" for="inputLogradouro">Logadouro</label>
										<input type="text" id="inputLogradouro" placeholder="Pesquise pelo Logadouro"  class="form-control">
									</div>
									<div id="groupInputNumero" class="form-group">
										<label class="control-label" for="inputNumero">Numero</label>
										<input type="text" id="inputNumero" placeholder="Pesquise pelo Numero"  class="form-control">
									</div>
									<div id="groupInputBairroContainer" class="form-group">
										<label class="control-label" for="inputBairro">Bairro</label>
										<div id="groupInputBairro" class="input-group">
											<input id="inputBairroId" type="hidden" class="form-control append-left"  />
											<input id="inputBairroNome" placeholder="Pesquise pelo Bairro"  type="text" class="form-control append-left" />
											<div class="input-group-addon append-right" id="searchBairroModal" data-toggle="modal">
												<span class="fa fa-search"></span>
											</div>
										</div>
									</div>		
									<div id="groupInputCidadeContainer" class="form-group">
										<label class="control-label" for="inputCidade">Cidade</label>
										<div id="groupInputCidade" class="input-group">
											<input id="inputCidadeId" type="hidden" class="form-control append-left"  />
											<input id="inputCidadeNome" placeholder="Pesquise pelo Cidade"  type="text" class="form-control append-left" />
											<div class="input-group-addon append-right" id="searchCidadeModal" data-toggle="modal">
												<span class="fa fa-search"></span>
											</div>
										</div>
									</div>		
									<div id="groupInputEstadoContainer" class="form-group">
										<label class="control-label" for="inputEstado">Estado</label>
										<div id="groupInputEstado" class="input-group">
											<input id="inputEstadoId" type="hidden" class="form-control append-left"  />
											<input id="inputEstadoNome" placeholder="Pesquise pelo Estado"  type="text" class="form-control append-left" />
											<div class="input-group-addon append-right" id="searchEstadoModal" data-toggle="modal">
												<span class="fa fa-search"></span>
											</div>
										</div>
									</div>		
								<div class=" ">
									<button type="button" class="btn btn-info btn-sm search-button">
										<i class="ace-icon fa fa-search bigger-110"></i>
										Pesquisar
									</button>
								</div>
							</div>
							</div>
							<div id="counter" class="pull-left"></div>
							<div class="row center">
								<div class="col-xs-12">
									<div class="widget-box transparent ">
										<div class="widget-body">
											<div class="widget-main padding-0">
												<div id="messages_div"></div>
												<div id="grid" class="table-responsive"></div>
												<div class="row">
													<div id="paginator" class=""></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<div id='bairroModal'></div>
<div id='cidadeModal'></div>
<div id='estadoModal'></div>
