<!-- generated: 29/09/2016 12:48:00 -->
<!-- Modal Empresa´s form -->
<div class="modal fade" id="dialogEmpresa" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Pesquisa de Empresa</h4>
			</div>
			<div class="modal-body">
				<form id="formSearchEmpresa">
							<div id="groupInputModalCnpj" class="form-group">
								<label class="control-label" for="inputModalCnpj">Cnpj</label>
								<input type="text" id="inputModalCnpj" placeholder=""  class="form-control">
							</div>
							
							<div id="groupInputModalNumeroContrato" class="form-group">
								<label class="control-label" for="inputModalNumeroContrato">Numero do Contrato</label>
								<input type="text" id="inputModalNumeroContrato" placeholder=""  class="form-control">
							</div>
							
							<div id="groupInputModalRazaoSocial" class="form-group">
								<label class="control-label" for="inputModalRazaoSocial">Razao social</label>
								<input type="text" id="inputModalRazaoSocial" placeholder=""  class="form-control">
							</div>
							
							<div id="groupInputModalNomeFantasia" class="form-group">
								<label class="control-label" for="inputModalNomeFantasia">Nome fantasia</label>
								<input type="text" id="inputModalNomeFantasia" placeholder=""  class="form-control">
							</div>
							
							<div id="groupInputModalUtilizaVoucher" class="form-group checkbox">
								<label class="checkbox ">
									<input id="inputModalUtilizaVoucher" type="checkbox" >
									Utiliza voucher
								</label>
							</div>
							
							<div id="groupInputModalUtilizaTicket" class="form-group checkbox">
								<label class="checkbox ">
									<input id="inputModalUtilizaTicket" type="checkbox" >
									Utiliza ticket
								</label>
							</div>
							
							<div id="groupInputModalObservacaoTaxista" class="form-group">
								<label class="control-label" for="inputModalObservacaoTaxista">Observacao taxista</label>
								<input type="text" id="inputModalObservacaoTaxista" placeholder=""  class="form-control">
							</div>
							
							<div id="groupInputModalObservacaoCentral" class="form-group">
								<label class="control-label" for="inputModalObservacaoCentral">Observacao central</label>
								<input type="text" id="inputModalObservacaoCentral" placeholder=""  class="form-control">
							</div>
							
							<div id="groupInputModalPercursoDesconto" class="form-group">
								<label class="control-label" for="inputModalPercursoDesconto">Percurso desconto</label>
								<input type="text" id="inputModalPercursoDesconto" placeholder=""  class="form-control">
							</div>
							
							<div id="groupInputModalInscricaoMunicipal" class="form-group">
								<label class="control-label" for="inputModalInscricaoMunicipal">Inscricao municipal</label>
								<input type="text" id="inputModalInscricaoMunicipal" placeholder=""  class="form-control">
							</div>
							
							<div id="groupInputModalInscricaoEstadual" class="form-group">
								<label class="control-label" for="inputModalInscricaoEstadual">Inscricao estadual</label>
								<input type="text" id="inputModalInscricaoEstadual" placeholder=""  class="form-control">
							</div>
							
							<div id="groupInputModalNf" class="form-group checkbox">
								<label class="checkbox ">
									<input id="inputModalNf" type="checkbox" >
									Nf
								</label>
							</div>
							
							<div id="groupInputModalPercentualIss" class="form-group">
								<label class="control-label" for="inputModalPercentualIss">Percentual ISS</label>
								<input type="text" id="inputModalPercentualIss" placeholder=""  class="form-control">
							</div>
							
							<div id="groupInputModalPercentualIrf" class="form-group">
								<label class="control-label" for="inputModalPercentualIrf">Percentual IRF</label>
								<input type="text" id="inputModalPercentualIrf" placeholder=""  class="form-control">
							</div>
							
							<div id="groupInputModalPercentualInss" class="form-group">
								<label class="control-label" for="inputModalPercentualInss">Percentual INSS</label>
								<input type="text" id="inputModalPercentualInss" placeholder=""  class="form-control">
							</div>
							
							<div id="groupInputModalDiaVencimento" class="form-group">
								<label class="control-label" for="inputModalDiaVencimento">Dia vencimento</label>
								<input type="text" id="inputModalDiaVencimento" placeholder=""  class="form-control">
							</div>
							
							<div id="groupInputModalPercentualMotorista" class="form-group">
								<label class="control-label" for="inputModalPercentualMotorista">Percentual motorista</label>
								<input type="text" id="inputModalPercentualMotorista" placeholder=""  class="form-control">
							</div>
							
							<div id="groupInputModalBanco" class="form-group">
								<label class="control-label" for="inputModalBanco">Banco</label>
								<input type="text" id="inputModalBanco" placeholder=""  class="form-control">
							</div>
							
							<div id="groupInputModalAgencia" class="form-group">
								<label class="control-label" for="inputModalAgencia">Agencia</label>
								<input type="text" id="inputModalAgencia" placeholder=""  class="form-control">
							</div>
							
							<div id="groupInputModalConta" class="form-group">
								<label class="control-label" for="inputModalConta">Conta</label>
								<input type="text" id="inputModalConta" placeholder=""  class="form-control">
							</div>
							
							<div id="groupInputModalEmail" class="form-group">
								<label class="control-label" for="inputModalEmail">Email</label>
								<input type="text" id="inputModalEmail" placeholder=""  class="form-control">
							</div>
							
		
					<div class="form-actions spinner" id="spinEmpresa">
						<a href="javascript:void(0)" id="btnSearchEmpresa" class="btn btn-primary btn-large" >
							<i class="fa fa-search"></i>
							Pesquisar
						</a>
						<a href="javascript:void(0)" id="btnClearEmpresa" class="btn btn-info btn-large">
							<i class="fa fa-trash"></i>
							Nova Pesquisa
						</a>
					</div>
					
				<div class="row">
				<div class="col-xs-12">
					<h3 class="header smaller lighter blue">Resultados</h3>
					<div class="divTableResults" id="resultadoEmpresaDiv" >
						<div id="sample-table-2_wrapper" class="dataTables_wrapper form-inline no-footer">
							<div id="messages_div"></div>
							<div id="grid-empresa" class="table-responsive"></div>
							<div class="">
								<div id="counter-empresa" class=" pull-left"></div>
								<div id="paginator-empresa" class="pull-right"></div>
							</div>
						</div>
					</div>
				</div>
				</div>
				</form>				
			</div>
		</div>
	</div>
</div>

