<!-- generated: 29/09/2016 12:48:00 -->
<!-- Modal Endereco´s form -->
<div class="modal fade" id="dialogEndereco" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Pesquisa de Endereco</h4>
			</div>
			<div class="modal-body">
				<form id="formSearchEndereco">
							<div id="groupInputModalComplemento" class="form-group">
								<label class="control-label" for="inputModalComplemento">Complemento</label>
								<input type="text" id="inputModalComplemento" placeholder=""  class="form-control">
							</div>
							
							<div id="groupInputModalNumero" class="form-group">
								<label class="control-label" for="inputModalNumero">Número</label>
								<input type="text" id="inputModalNumero" placeholder=""  class="form-control">
							</div>
							
		
					<div class="form-actions spinner" id="spinEndereco">
						<a href="javascript:void(0)" id="btnSearchEndereco" class="btn btn-primary btn-large" >
							<i class="fa fa-search"></i>
							Pesquisar
						</a>
						<a href="javascript:void(0)" id="btnClearEndereco" class="btn btn-info btn-large">
							<i class="fa fa-trash"></i>
							Nova Pesquisa
						</a>
					</div>
					
				<div class="row">
				<div class="col-xs-12">
					<h3 class="header smaller lighter blue">Resultados</h3>
					<div class="divTableResults" id="resultadoEnderecoDiv" >
						<div id="sample-table-2_wrapper" class="dataTables_wrapper form-inline no-footer">
							<div id="messages_div"></div>
							<div id="grid-endereco" class="table-responsive"></div>
							<div class="">
								<div id="counter-endereco" class=" pull-left"></div>
								<div id="paginator-endereco" class="pull-right"></div>
							</div>
						</div>
					</div>
				</div>
				</div>
				</form>				
			</div>
		</div>
	</div>
</div>

