<!-- generated: 29/09/2016 12:48:00 -->
<!-- Modal Funcionario´s form -->
<div class="modal fade" id="dialogFuncionario" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Pesquisa de Funcionario</h4>
			</div>
			<div class="modal-body">
				<form id="formSearchFuncionario">
							<div id="groupInputModalNome" class="form-group">
								<label class="control-label" for="inputModalNome">Nome</label>
								<input type="text" id="inputModalNome" placeholder=""  class="form-control">
							</div>
							
							<div id="groupInputModalEmail" class="form-group">
								<label class="control-label" for="inputModalEmail">Email</label>
								<input type="text" id="inputModalEmail" placeholder=""  class="form-control">
							</div>
							
							<div id="groupInputModalTelefone" class="form-group">
								<label class="control-label" for="inputModalTelefone">Telefone</label>
								<input type="text" id="inputModalTelefone" placeholder=""  class="form-control">
							</div>
							
							<div id="groupInputModalLimiteMensal" class="form-group">
								<label class="control-label" for="inputModalLimiteMensal">Limite mensal</label>
								<input type="text" id="inputModalLimiteMensal" placeholder=""  class="form-control">
							</div>
							
							<div id="groupInputModalCpf" class="form-group">
								<label class="control-label" for="inputModalCpf">Cpf</label>
								<input type="text" id="inputModalCpf" placeholder=""  class="form-control">
							</div>
							
							<div id="groupInputModalMatricula" class="form-group">
								<label class="control-label" for="inputModalMatricula">Matricula</label>
								<input type="text" id="inputModalMatricula" placeholder=""  class="form-control">
							</div>
							
							<div id="groupInputModalStatusFuncionario" class="form-group">
								<label class="control-label" for="inputModalStatusFuncionario">Status funcionario</label>
								<input type="text" id="inputModalStatusFuncionario" placeholder=""  class="form-control">
							</div>
							
							<div id="groupInputModalAutorizadoTicket" class="form-group checkbox">
								<label class="checkbox ">
									<input id="inputModalAutorizadoTicket" type="checkbox" >
									Autorizado ticket
								</label>
							</div>
							
							<div id="groupInputModalObservacao" class="form-group">
								<label class="control-label" for="inputModalObservacao">Observacao</label>
								<input type="text" id="inputModalObservacao" placeholder=""  class="form-control">
							</div>
							
		
							<div id="groupInputModalCentroCusto" class="form-group">
								<label class="control-label" for="inputModalCentroCusto">Centro custo</label>
								<select class="form-control" id="inputModalCentroCusto"></select>
							</div>					
					<div class="form-actions spinner" id="spinFuncionario">
						<a href="javascript:void(0)" id="btnSearchFuncionario" class="btn btn-primary btn-large" >
							<i class="fa fa-search"></i>
							Pesquisar
						</a>
						<a href="javascript:void(0)" id="btnClearFuncionario" class="btn btn-info btn-large">
							<i class="fa fa-trash"></i>
							Nova Pesquisa
						</a>
					</div>
					
				<div class="row">
				<div class="col-xs-12">
					<h3 class="header smaller lighter blue">Resultados</h3>
					<div class="divTableResults" id="resultadoFuncionarioDiv" >
						<div id="sample-table-2_wrapper" class="dataTables_wrapper form-inline no-footer">
							<div id="messages_div"></div>
							<div id="grid-funcionario" class="table-responsive"></div>
							<div class="">
								<div id="counter-funcionario" class=" pull-left"></div>
								<div id="paginator-funcionario" class="pull-right"></div>
							</div>
						</div>
					</div>
				</div>
				</div>
				</form>				
			</div>
		</div>
	</div>
</div>

