<!-- generated: 29/09/2016 12:48:00 -->
<!-- Modal ItemType´s form -->
<div class="modal fade" id="dialogItemType" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Pesquisa de Tipo de Item</h4>
			</div>
			<div class="modal-body">
				<form id="formSearchItemType">
							<div id="groupInputModalName" class="form-group">
								<label class="control-label" for="inputModalName">Nome</label>
								<input type="text" id="inputModalName" placeholder=""  class="form-control">
							</div>
							
							<div id="groupInputModalDescription" class="form-group">
								<label class="control-label" for="inputModalDescription">Descrição</label>
								<input type="text" id="inputModalDescription" placeholder=""  class="form-control">
							</div>
							
		
					<div class="form-actions spinner" id="spinItemType">
						<a href="javascript:void(0)" id="btnSearchItemType" class="btn btn-primary btn-large" >
							<i class="fa fa-search"></i>
							Pesquisar
						</a>
						<a href="javascript:void(0)" id="btnClearItemType" class="btn btn-info btn-large">
							<i class="fa fa-trash"></i>
							Nova Pesquisa
						</a>
					</div>
					
				<div class="row">
				<div class="col-xs-12">
					<h3 class="header smaller lighter blue">Resultados</h3>
					<div class="divTableResults" id="resultadoItemTypeDiv" >
						<div id="sample-table-2_wrapper" class="dataTables_wrapper form-inline no-footer">
							<div id="messages_div"></div>
							<div id="grid-itemType" class="table-responsive"></div>
							<div class="">
								<div id="counter-itemType" class=" pull-left"></div>
								<div id="paginator-itemType" class="pull-right"></div>
							</div>
						</div>
					</div>
				</div>
				</div>
				</form>				
			</div>
		</div>
	</div>
</div>

