<!-- generated: 29/09/2016 12:48:00 -->
<!-- Permission´s form -->
<div class="breadcrumbs" id="breadcrumbs">
	<ul class="breadcrumb">
		<li>
			<i class="ace-icon fa fa-home home-icon"></i>
			<a href="#">Home</a>
		</li>
		<li class="active">Formulário de cadastro de Permissão</li>
	</ul>
</div>
<div class="col-sm-12 page-form ">
	<div id="messages_div"></div>				
	<div class="row">
		<div class="col-xs-12">
			<div class="widget-box transparent_  ">
				<div class="widget-header widget-header-flat">
					<h4 class="widget-title lighter">
						<i class="ace-icon fa fa-wpforms"></i>
						Formulário de cadastro de Permissão
					</h4>
				</div>
				<div class="widget-body">
					<div class="widget-main">
						<form role="form" id="formPermission">
							<input type="hidden" id="inputId" value="{{id}}">
							<div id="groupInputName" class="form-group">
								<label class="control-label" for="inputName">Nome  </label>
								<input type="text" id="inputName" placeholder="" value="{{name}}" class="form-control  ">
							</div>
							<div class="roles-container panel"></div>					
							<div id="groupInputOperationContainer" class="form-group">
								<label class="control-label" for="inputOperation">Operação</label>
								<div id="groupInputOperation" class="input-group">
									<input id="inputOperationId" type="hidden" class="form-control append-left" value="{{operation && operation.id}}" />
									<input id="inputOperationName" placeholder="Escolha um Operação"  type="text" class="form-control append-left" value="{{operation && operation.name}}" />
									<div class="input-group-addon append-right" id="searchOperationModal" data-toggle="modal">
										<span class="fa fa-search"></span>
									</div>
								</div>
							</div>		
							<div id="groupInputItemContainer" class="form-group">
								<label class="control-label" for="inputItem">Item</label>
								<div id="groupInputItem" class="input-group">
									<input id="inputItemId" type="hidden" class="form-control append-left" value="{{item && item.id}}" />
									<input id="inputItemName" placeholder="Escolha um Item"  type="text" class="form-control append-left" value="{{item && item.name}}" />
									<div class="input-group-addon append-right" id="searchItemModal" data-toggle="modal">
										<span class="fa fa-search"></span>
									</div>
								</div>
							</div>		
					</form>
				</div>
			</div>
			<div class="">
				<div class="clearfix form-actions">
					<a href="javascript:void(0)" id="save"  class="save btn btn-primary">
						<i class="ace-icon save fa fa-check bigger-110"></i>
						Salvar
					</a>
					&nbsp; &nbsp; &nbsp;
					<a href="javascript:void(0)" class=" saveAndContinue  btn btn-info" style="display: {{ id ? 'none' : 'inline-block' }} ">
						<i class="ace-icon fa fa-check bigger-110"></i>
						Salvar e Continuar
					</a>
					&nbsp; &nbsp; &nbsp;
					<a class="go-back-link btn btn-light" href="#app/permissions">
						<i class="ace-icon fa fa-undo bigger-110"></i>
						Voltar para a listagem
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div id='operationModal'></div>
<div id='itemModal'></div>
