<!-- generated: 29/09/2016 12:48:00 -->
<!-- CentroCusto´s form -->
<div class="breadcrumbs" id="breadcrumbs">
	<ul class="breadcrumb">
		<li>
			<i class="ace-icon fa fa-home home-icon"></i>
			<a href="#">Home</a>
		</li>
		<li class="active">Formulário de cadastro de Centro custo</li>
	</ul>
</div>
<div class="col-sm-12 page-form ">
	<div id="messages_div"></div>				
	<div class="row">
		<div class="col-xs-12">
			<div class="widget-box transparent_  ">
				<div class="widget-header widget-header-flat">
					<h4 class="widget-title lighter">
						<i class="ace-icon fa fa-wpforms"></i>
						Formulário de cadastro de Centro custo
					</h4>
				</div>
				<div class="widget-body">
					<div class="widget-main">
						<form role="form" id="formCentroCusto">
							<input type="hidden" id="inputId" value="{{id}}">
							<div id="groupInputDescricao" class="form-group">
								<label class="control-label" for="inputDescricao">Descricao  </label>
								<input type="text" id="inputDescricao" placeholder="" value="{{descricao}}" class="form-control  ">
							</div>
							<div id="groupInputValorLimite" class="form-group">
								<label class="control-label" for="inputValorLimite">Valor limite  </label>
								<input type="text" id="inputValorLimite" placeholder="" value="{{valorLimite}}" class="form-control  ">
							</div>
							<div id="groupInputObservacao" class="form-group">
								<label class="control-label" for="inputObservacao">Observacao  </label>
								<input type="text" id="inputObservacao" placeholder="" value="{{observacao}}" class="form-control  ">
							</div>
							<div id="groupInputObseracaoTaxista" class="form-group">
								<label class="control-label" for="inputObseracaoTaxista">Obseracao taxista  </label>
								<input type="text" id="inputObseracaoTaxista" placeholder="" value="{{obseracaoTaxista}}" class="form-control  ">
							</div>
							<div id="groupInputInativo" class="form-group checkbox">
								<label class="checkbox ">
									<input id="inputInativo" type="checkbox" {{inativo ? 'checked' :''}}>
									Inativo
								</label>
							</div>
							<div id="groupInputEmpresaContainer" class="form-group">
								<label class="control-label" for="inputEmpresa">Empresa</label>
								<div id="groupInputEmpresa" class="input-group">
									<input id="inputEmpresaId" type="hidden" class="form-control append-left" value="{{empresa && empresa.id}}" />
									<input id="inputEmpresaRazaoSocial" placeholder="Escolha um Empresa"  type="text" class="form-control append-left" value="{{empresa && empresa.razaoSocial}}" />
									<div class="input-group-addon append-right" id="searchEmpresaModal" data-toggle="modal">
										<span class="fa fa-search"></span>
									</div>
								</div>
							</div>		
					</form>
				</div>
			</div>
			<div class="">
				<div class="clearfix form-actions">
					<a href="javascript:void(0)" id="save"  class="save btn btn-primary">
						<i class="ace-icon save fa fa-check bigger-110"></i>
						Salvar
					</a>
					&nbsp; &nbsp; &nbsp;
					<a href="javascript:void(0)" class=" saveAndContinue  btn btn-info" style="display: {{ id ? 'none' : 'inline-block' }} ">
						<i class="ace-icon fa fa-check bigger-110"></i>
						Salvar e Continuar
					</a>
					&nbsp; &nbsp; &nbsp;
					<a class="go-back-link btn btn-light" href="#app/centroCustos">
						<i class="ace-icon fa fa-undo bigger-110"></i>
						Voltar para a listagem
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div id='empresaModal'></div>
