<!-- generated: 29/09/2016 12:48:00 -->
<!-- CentroCusto´s page -->
<div class="breadcrumbs" id="breadcrumbs">
	<ul class="breadcrumb">
		<li>
			<i class="ace-icon fa fa-home home-icon"></i>
			<a href="#">Home</a>
		</li>
		<li class="active">Pesquisa Centro custo</li>
	</ul>
</div>
<div class="col-sm-12 page-form">
	<div id="messages_div"></div>
	<div class="row">
		<div class="col-xs-12">
			<div class="widget-box ">
				<div class="widget-header widget-header-flat">
					<h4 class="widget-title lighter">
						<i class="ace-icon fa fa-search"></i>
						Pesquisa de Centro custo
					</h4>
				</div>
				<div class="widget-body">
					<form id="formCentroCustoFilter">
						<div class="widget-main  ">
							<div class="row">
								<div class="col-xs-6">
									<a href="#app/newCentroCusto" class="btn btn-success">
										<i class="fa fa-plus-circle"></i>
										Novo Registro
									</a>
									&nbsp; &nbsp; &nbsp;
									<a href="javascript:void(0)" id="reset" class="btn reset" >Limpar</a>
								</div>
								<div class="col-sm-6">
									<div class="input-group">
										<input id="inputDescricao" type="text" class="form-control search-query" placeholder="Pesquisar Centro custo por Descricao">
										<span id="query" class="input-group-btn ">
											<button type="button" class="btn btn-inverse btn-white search-button">
												<span class="ace-icon fa fa-search icon-on-right bigger-110 "></span>
												Pesquisar
											</button>
										</span>
									</div>
									<div>
										<a href="javascript:void(-1)" class="show-advanced-search-button"> Pesquisa avançada... </a>
									</div>
								</div>
							</div>
							<div class="widget-box transparent advanced-search-form">
								<div class="widget-header">
									<h4 class="widget-title lighter">Filtros avançados</h4>
								</div>
								<div class="widget-body">
								<!-- inicio dos registros-->							
									<div id="groupInputDescricao" class="form-group">
										<label class="control-label" for="inputDescricao">Descricao</label>
										<input type="text" id="inputDescricao" placeholder="Pesquise pelo Descricao"  class="form-control">
									</div>
									<div id="groupInputValorLimite" class="form-group">
										<label class="control-label" for="inputValorLimite">Valor limite</label>
										<input type="text" id="inputValorLimite" placeholder="Pesquise pelo Valor limite"  class="form-control">
									</div>
									<div id="groupInputObservacao" class="form-group">
										<label class="control-label" for="inputObservacao">Observacao</label>
										<input type="text" id="inputObservacao" placeholder="Pesquise pelo Observacao"  class="form-control">
									</div>
									<div id="groupInputObseracaoTaxista" class="form-group">
										<label class="control-label" for="inputObseracaoTaxista">Obseracao taxista</label>
										<input type="text" id="inputObseracaoTaxista" placeholder="Pesquise pelo Obseracao taxista"  class="form-control">
									</div>
									<div id="groupInputInativo" class="form-group checkbox">
										<label class="checkbox ">
											<input id="inputInativo" type="checkbox" >
											Inativo
										</label>
									</div>
									
									<div id="groupInputEmpresaContainer" class="form-group">
										<label class="control-label" for="inputEmpresa">Empresa</label>
										<div id="groupInputEmpresa" class="input-group">
											<input id="inputEmpresaId" type="hidden" class="form-control append-left"  />
											<input id="inputEmpresaRazaoSocial" placeholder="Pesquise pelo Empresa"  type="text" class="form-control append-left" />
											<div class="input-group-addon append-right" id="searchEmpresaModal" data-toggle="modal">
												<span class="fa fa-search"></span>
											</div>
										</div>
									</div>		
								<div class=" ">
									<button type="button" class="btn btn-info btn-sm search-button">
										<i class="ace-icon fa fa-search bigger-110"></i>
										Pesquisar
									</button>
								</div>
							</div>
							</div>
							<div id="counter" class="pull-left"></div>
							<div class="row center">
								<div class="col-xs-12">
									<div class="widget-box transparent ">
										<div class="widget-body">
											<div class="widget-main padding-0">
												<div id="messages_div"></div>
												<div id="grid" class="table-responsive"></div>
												<div class="row">
													<div id="paginator" class=""></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<div id='empresaModal'></div>
