<!-- generated: 29/09/2016 12:48:00 -->
<!-- Empresa´s form -->
<div class="breadcrumbs" id="breadcrumbs">
	<ul class="breadcrumb">
		<li>
			<i class="ace-icon fa fa-home home-icon"></i>
			<a href="#">Home</a>
		</li>
		<li class="active">Formulário de cadastro de Empresa</li>
	</ul>
</div>
<div class="col-sm-12 page-form ">
	<div id="messages_div"></div>				
	<div class="row">
		<div class="col-xs-12">
			<div class="widget-box transparent_  ">
				<div class="widget-header widget-header-flat">
					<h4 class="widget-title lighter">
						<i class="ace-icon fa fa-wpforms"></i>
						Formulário de cadastro de Empresa
					</h4>
				</div>
				<div class="widget-body">
					<div class="widget-main">
						<form role="form" id="formEmpresa">
							<input type="hidden" id="inputId" value="{{id}}">
							<div id="groupInputCnpj" class="form-group">
								<label class="control-label" for="inputCnpj">Cnpj  </label>
								<input type="text" id="inputCnpj" placeholder="" value="{{cnpj}}" class="form-control  ">
							</div>
							<div id="groupInputNumeroContrato" class="form-group">
								<label class="control-label" for="inputNumeroContrato">Numero do Contrato  *</label>
								<input type="text" id="inputNumeroContrato" placeholder="" value="{{numeroContrato}}" class="form-control  validate[required]">
							</div>
							<div id="groupInputRazaoSocial" class="form-group">
								<label class="control-label" for="inputRazaoSocial">Razao social  </label>
								<input type="text" id="inputRazaoSocial" placeholder="" value="{{razaoSocial}}" class="form-control  ">
							</div>
							<div id="groupInputNomeFantasia" class="form-group">
								<label class="control-label" for="inputNomeFantasia">Nome fantasia  </label>
								<input type="text" id="inputNomeFantasia" placeholder="" value="{{nomeFantasia}}" class="form-control  ">
							</div>
							<div id="groupInputUtilizaVoucher" class="form-group checkbox">
								<label class="checkbox ">
									<input id="inputUtilizaVoucher" type="checkbox" {{utilizaVoucher ? 'checked' :''}}>
									Utiliza voucher
								</label>
							</div>
							<div id="groupInputUtilizaTicket" class="form-group checkbox">
								<label class="checkbox ">
									<input id="inputUtilizaTicket" type="checkbox" {{utilizaTicket ? 'checked' :''}}>
									Utiliza ticket
								</label>
							</div>
							<div id="groupInputObservacaoTaxista" class="form-group">
								<label class="control-label" for="inputObservacaoTaxista">Observacao taxista  </label>
								<input type="text" id="inputObservacaoTaxista" placeholder="" value="{{observacaoTaxista}}" class="form-control  ">
							</div>
							<div id="groupInputObservacaoCentral" class="form-group">
								<label class="control-label" for="inputObservacaoCentral">Observacao central  </label>
								<input type="text" id="inputObservacaoCentral" placeholder="" value="{{observacaoCentral}}" class="form-control  ">
							</div>
							<div id="groupInputPercursoDesconto" class="form-group">
								<label class="control-label" for="inputPercursoDesconto">Percurso desconto  </label>
								<input type="text" id="inputPercursoDesconto" placeholder="" value="{{percursoDesconto}}" class="form-control  ">
							</div>
							<div id="groupInputInscricaoMunicipal" class="form-group">
								<label class="control-label" for="inputInscricaoMunicipal">Inscricao municipal  </label>
								<input type="text" id="inputInscricaoMunicipal" placeholder="" value="{{inscricaoMunicipal}}" class="form-control  ">
							</div>
							<div id="groupInputInscricaoEstadual" class="form-group">
								<label class="control-label" for="inputInscricaoEstadual">Inscricao estadual  </label>
								<input type="text" id="inputInscricaoEstadual" placeholder="" value="{{inscricaoEstadual}}" class="form-control  ">
							</div>
							<div id="groupInputNf" class="form-group checkbox">
								<label class="checkbox ">
									<input id="inputNf" type="checkbox" {{nf ? 'checked' :''}}>
									Nf
								</label>
							</div>
							<div id="groupInputPercentualIss" class="form-group">
								<label class="control-label" for="inputPercentualIss">Percentual ISS  </label>
								<input type="text" id="inputPercentualIss" placeholder="" value="{{percentualIss}}" class="form-control  ">
							</div>
							<div id="groupInputPercentualIrf" class="form-group">
								<label class="control-label" for="inputPercentualIrf">Percentual IRF  </label>
								<input type="text" id="inputPercentualIrf" placeholder="" value="{{percentualIrf}}" class="form-control  ">
							</div>
							<div id="groupInputPercentualInss" class="form-group">
								<label class="control-label" for="inputPercentualInss">Percentual INSS  </label>
								<input type="text" id="inputPercentualInss" placeholder="" value="{{percentualInss}}" class="form-control  ">
							</div>
							<div id="groupInputDiaVencimento" class="form-group">
								<label class="control-label" for="inputDiaVencimento">Dia vencimento  </label>
								<input type="text" id="inputDiaVencimento" placeholder="" value="{{diaVencimento}}" class="form-control  ">
							</div>
							<div id="groupInputPercentualMotorista" class="form-group">
								<label class="control-label" for="inputPercentualMotorista">Percentual motorista  </label>
								<input type="text" id="inputPercentualMotorista" placeholder="" value="{{percentualMotorista}}" class="form-control  ">
							</div>
							<div id="groupInputBanco" class="form-group">
								<label class="control-label" for="inputBanco">Banco  </label>
								<input type="text" id="inputBanco" placeholder="" value="{{banco}}" class="form-control  ">
							</div>
							<div id="groupInputAgencia" class="form-group">
								<label class="control-label" for="inputAgencia">Agencia  </label>
								<input type="text" id="inputAgencia" placeholder="" value="{{agencia}}" class="form-control  ">
							</div>
							<div id="groupInputConta" class="form-group">
								<label class="control-label" for="inputConta">Conta  </label>
								<input type="text" id="inputConta" placeholder="" value="{{conta}}" class="form-control  ">
							</div>
							<div id="groupInputEmail" class="form-group">
								<label class="control-label" for="inputEmail">Email  </label>
								<input type="text" id="inputEmail" placeholder="" value="{{email}}" class="form-control  ">
							</div>
					</form>
				</div>
			</div>
			<div class="">
				<div class="clearfix form-actions">
					<a href="javascript:void(0)" id="save"  class="save btn btn-primary">
						<i class="ace-icon save fa fa-check bigger-110"></i>
						Salvar
					</a>
					&nbsp; &nbsp; &nbsp;
					<a href="javascript:void(0)" class=" saveAndContinue  btn btn-info" style="display: {{ id ? 'none' : 'inline-block' }} ">
						<i class="ace-icon fa fa-check bigger-110"></i>
						Salvar e Continuar
					</a>
					&nbsp; &nbsp; &nbsp;
					<a class="go-back-link btn btn-light" href="#app/empresas">
						<i class="ace-icon fa fa-undo bigger-110"></i>
						Voltar para a listagem
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
