<!-- generated: 29/09/2016 12:48:00 -->
<!-- Empresa´s page -->
<div class="breadcrumbs" id="breadcrumbs">
	<ul class="breadcrumb">
		<li>
			<i class="ace-icon fa fa-home home-icon"></i>
			<a href="#">Home</a>
		</li>
		<li class="active">Pesquisa Empresa</li>
	</ul>
</div>
<div class="col-sm-12 page-form">
	<div id="messages_div"></div>
	<div class="row">
		<div class="col-xs-12">
			<div class="widget-box ">
				<div class="widget-header widget-header-flat">
					<h4 class="widget-title lighter">
						<i class="ace-icon fa fa-search"></i>
						Pesquisa de Empresa
					</h4>
				</div>
				<div class="widget-body">
					<form id="formEmpresaFilter">
						<div class="widget-main  ">
							<div class="row">
								<div class="col-xs-6">
									<a href="#app/newEmpresa" class="btn btn-success">
										<i class="fa fa-plus-circle"></i>
										Novo Registro
									</a>
									&nbsp; &nbsp; &nbsp;
									<a href="javascript:void(0)" id="reset" class="btn reset" >Limpar</a>
								</div>
								<div class="col-sm-6">
									<div class="input-group">
										<input id="inputCnpj" type="text" class="form-control search-query" placeholder="Pesquisar Empresa por Cnpj">
										<span id="query" class="input-group-btn ">
											<button type="button" class="btn btn-inverse btn-white search-button">
												<span class="ace-icon fa fa-search icon-on-right bigger-110 "></span>
												Pesquisar
											</button>
										</span>
									</div>
									<div>
										<a href="javascript:void(-1)" class="show-advanced-search-button"> Pesquisa avançada... </a>
									</div>
								</div>
							</div>
							<div class="widget-box transparent advanced-search-form">
								<div class="widget-header">
									<h4 class="widget-title lighter">Filtros avançados</h4>
								</div>
								<div class="widget-body">
								<!-- inicio dos registros-->							
									<div id="groupInputCnpj" class="form-group">
										<label class="control-label" for="inputCnpj">Cnpj</label>
										<input type="text" id="inputCnpj" placeholder="Pesquise pelo Cnpj"  class="form-control">
									</div>
									<div id="groupInputNumeroContrato" class="form-group">
										<label class="control-label" for="inputNumeroContrato">Numero do Contrato</label>
										<input type="text" id="inputNumeroContrato" placeholder="Pesquise pelo Numero do Contrato"  class="form-control">
									</div>
									<div id="groupInputRazaoSocial" class="form-group">
										<label class="control-label" for="inputRazaoSocial">Razao social</label>
										<input type="text" id="inputRazaoSocial" placeholder="Pesquise pelo Razao social"  class="form-control">
									</div>
									<div id="groupInputNomeFantasia" class="form-group">
										<label class="control-label" for="inputNomeFantasia">Nome fantasia</label>
										<input type="text" id="inputNomeFantasia" placeholder="Pesquise pelo Nome fantasia"  class="form-control">
									</div>
									<div id="groupInputUtilizaVoucher" class="form-group checkbox">
										<label class="checkbox ">
											<input id="inputUtilizaVoucher" type="checkbox" >
											Utiliza voucher
										</label>
									</div>
									<div id="groupInputUtilizaTicket" class="form-group checkbox">
										<label class="checkbox ">
											<input id="inputUtilizaTicket" type="checkbox" >
											Utiliza ticket
										</label>
									</div>
									<div id="groupInputObservacaoTaxista" class="form-group">
										<label class="control-label" for="inputObservacaoTaxista">Observacao taxista</label>
										<input type="text" id="inputObservacaoTaxista" placeholder="Pesquise pelo Observacao taxista"  class="form-control">
									</div>
									<div id="groupInputObservacaoCentral" class="form-group">
										<label class="control-label" for="inputObservacaoCentral">Observacao central</label>
										<input type="text" id="inputObservacaoCentral" placeholder="Pesquise pelo Observacao central"  class="form-control">
									</div>
									<div id="groupInputPercursoDesconto" class="form-group">
										<label class="control-label" for="inputPercursoDesconto">Percurso desconto</label>
										<input type="text" id="inputPercursoDesconto" placeholder="Pesquise pelo Percurso desconto"  class="form-control">
									</div>
									<div id="groupInputInscricaoMunicipal" class="form-group">
										<label class="control-label" for="inputInscricaoMunicipal">Inscricao municipal</label>
										<input type="text" id="inputInscricaoMunicipal" placeholder="Pesquise pelo Inscricao municipal"  class="form-control">
									</div>
									<div id="groupInputInscricaoEstadual" class="form-group">
										<label class="control-label" for="inputInscricaoEstadual">Inscricao estadual</label>
										<input type="text" id="inputInscricaoEstadual" placeholder="Pesquise pelo Inscricao estadual"  class="form-control">
									</div>
									<div id="groupInputNf" class="form-group checkbox">
										<label class="checkbox ">
											<input id="inputNf" type="checkbox" >
											Nf
										</label>
									</div>
									<div id="groupInputPercentualIss" class="form-group">
										<label class="control-label" for="inputPercentualIss">Percentual ISS</label>
										<input type="text" id="inputPercentualIss" placeholder="Pesquise pelo Percentual ISS"  class="form-control">
									</div>
									<div id="groupInputPercentualIrf" class="form-group">
										<label class="control-label" for="inputPercentualIrf">Percentual IRF</label>
										<input type="text" id="inputPercentualIrf" placeholder="Pesquise pelo Percentual IRF"  class="form-control">
									</div>
									<div id="groupInputPercentualInss" class="form-group">
										<label class="control-label" for="inputPercentualInss">Percentual INSS</label>
										<input type="text" id="inputPercentualInss" placeholder="Pesquise pelo Percentual INSS"  class="form-control">
									</div>
									<div id="groupInputDiaVencimento" class="form-group">
										<label class="control-label" for="inputDiaVencimento">Dia vencimento</label>
										<input type="text" id="inputDiaVencimento" placeholder="Pesquise pelo Dia vencimento"  class="form-control">
									</div>
									<div id="groupInputPercentualMotorista" class="form-group">
										<label class="control-label" for="inputPercentualMotorista">Percentual motorista</label>
										<input type="text" id="inputPercentualMotorista" placeholder="Pesquise pelo Percentual motorista"  class="form-control">
									</div>
									<div id="groupInputBanco" class="form-group">
										<label class="control-label" for="inputBanco">Banco</label>
										<input type="text" id="inputBanco" placeholder="Pesquise pelo Banco"  class="form-control">
									</div>
									<div id="groupInputAgencia" class="form-group">
										<label class="control-label" for="inputAgencia">Agencia</label>
										<input type="text" id="inputAgencia" placeholder="Pesquise pelo Agencia"  class="form-control">
									</div>
									<div id="groupInputConta" class="form-group">
										<label class="control-label" for="inputConta">Conta</label>
										<input type="text" id="inputConta" placeholder="Pesquise pelo Conta"  class="form-control">
									</div>
									<div id="groupInputEmail" class="form-group">
										<label class="control-label" for="inputEmail">Email</label>
										<input type="text" id="inputEmail" placeholder="Pesquise pelo Email"  class="form-control">
									</div>
									
									
								<div class=" ">
									<button type="button" class="btn btn-info btn-sm search-button">
										<i class="ace-icon fa fa-search bigger-110"></i>
										Pesquisar
									</button>
								</div>
							</div>
							</div>
							<div id="counter" class="pull-left"></div>
							<div class="row center">
								<div class="col-xs-12">
									<div class="widget-box transparent ">
										<div class="widget-body">
											<div class="widget-main padding-0">
												<div id="messages_div"></div>
												<div id="grid" class="table-responsive"></div>
												<div class="row">
													<div id="paginator" class=""></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

