<!-- generated: 29/09/2016 12:48:00 -->
<!-- Funcionario´s form -->
<div class="breadcrumbs" id="breadcrumbs">
	<ul class="breadcrumb">
		<li>
			<i class="ace-icon fa fa-home home-icon"></i>
			<a href="#">Home</a>
		</li>
		<li class="active">Formulário de cadastro de Funcionario</li>
	</ul>
</div>
<div class="col-sm-12 page-form ">
	<div id="messages_div"></div>				
	<div class="row">
		<div class="col-xs-12">
			<div class="widget-box transparent_  ">
				<div class="widget-header widget-header-flat">
					<h4 class="widget-title lighter">
						<i class="ace-icon fa fa-wpforms"></i>
						Formulário de cadastro de Funcionario
					</h4>
				</div>
				<div class="widget-body">
					<div class="widget-main">
						<form role="form" id="formFuncionario">
							<input type="hidden" id="inputId" value="{{id}}">
							<div id="groupInputNome" class="form-group">
								<label class="control-label" for="inputNome">Nome  </label>
								<input type="text" id="inputNome" placeholder="" value="{{nome}}" class="form-control  ">
							</div>
							<div id="groupInputEmail" class="form-group">
								<label class="control-label" for="inputEmail">Email  </label>
								<input type="text" id="inputEmail" placeholder="" value="{{email}}" class="form-control  ">
							</div>
							<div id="groupInputTelefone" class="form-group">
								<label class="control-label" for="inputTelefone">Telefone  </label>
								<input type="text" id="inputTelefone" placeholder="" value="{{telefone}}" class="form-control  ">
							</div>
							<div id="groupInputLimiteMensal" class="form-group">
								<label class="control-label" for="inputLimiteMensal">Limite mensal  </label>
								<input type="text" id="inputLimiteMensal" placeholder="" value="{{limiteMensal}}" class="form-control  ">
							</div>
							<div id="groupInputCpf" class="form-group">
								<label class="control-label" for="inputCpf">Cpf  </label>
								<input type="text" id="inputCpf" placeholder="" value="{{cpf}}" class="form-control  ">
							</div>
							<div id="groupInputMatricula" class="form-group">
								<label class="control-label" for="inputMatricula">Matricula  </label>
								<input type="text" id="inputMatricula" placeholder="" value="{{matricula}}" class="form-control  ">
							</div>
							<div id="groupInputStatusFuncionario" class="form-group">
								<label class="control-label" for="inputStatusFuncionario">Status funcionario  </label>
								<input type="text" id="inputStatusFuncionario" placeholder="" value="{{statusFuncionario}}" class="form-control  ">
							</div>
							<div id="groupInputAutorizadoTicket" class="form-group checkbox">
								<label class="checkbox ">
									<input id="inputAutorizadoTicket" type="checkbox" {{autorizadoTicket ? 'checked' :''}}>
									Autorizado ticket
								</label>
							</div>
							<div id="groupInputObservacao" class="form-group">
								<label class="control-label" for="inputObservacao">Observacao  </label>
								<input type="text" id="inputObservacao" placeholder="" value="{{observacao}}" class="form-control  ">
							</div>
							<div id="groupInputEmpresaContainer" class="form-group">
								<label class="control-label" for="inputEmpresa">Empresa</label>
								<div id="groupInputEmpresa" class="input-group">
									<input id="inputEmpresaId" type="hidden" class="form-control append-left" value="{{empresa && empresa.id}}" />
									<input id="inputEmpresaNome" placeholder="Escolha um Empresa"  type="text" class="form-control append-left" value="{{empresa && empresa.nome}}" />
									<div class="input-group-addon append-right" id="searchEmpresaModal" data-toggle="modal">
										<span class="fa fa-search"></span>
									</div>
								</div>
							</div>		
							<div id="groupInputCentroCusto" class="form-group">
								<label class="control-label" for="inputCentroCusto">Centro custo</label>
								<select class="form-control" id="inputCentroCusto"></select>
							</div>					
					</form>
				</div>
			</div>
			<div class="">
				<div class="clearfix form-actions">
					<a href="javascript:void(0)" id="save"  class="save btn btn-primary">
						<i class="ace-icon save fa fa-check bigger-110"></i>
						Salvar
					</a>
					&nbsp; &nbsp; &nbsp;
					<a href="javascript:void(0)" class=" saveAndContinue  btn btn-info" style="display: {{ id ? 'none' : 'inline-block' }} ">
						<i class="ace-icon fa fa-check bigger-110"></i>
						Salvar e Continuar
					</a>
					&nbsp; &nbsp; &nbsp;
					<a class="go-back-link btn btn-light" href="#app/funcionarios">
						<i class="ace-icon fa fa-undo bigger-110"></i>
						Voltar para a listagem
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div id='empresaModal'></div>
