<!-- generated: 29/09/2016 12:48:00 -->
<!-- Funcionario´s page -->
<div class="breadcrumbs" id="breadcrumbs">
	<ul class="breadcrumb">
		<li>
			<i class="ace-icon fa fa-home home-icon"></i>
			<a href="#">Home</a>
		</li>
		<li class="active">Pesquisa Funcionario</li>
	</ul>
</div>
<div class="col-sm-12 page-form">
	<div id="messages_div"></div>
	<div class="row">
		<div class="col-xs-12">
			<div class="widget-box ">
				<div class="widget-header widget-header-flat">
					<h4 class="widget-title lighter">
						<i class="ace-icon fa fa-search"></i>
						Pesquisa de Funcionario
					</h4>
				</div>
				<div class="widget-body">
					<form id="formFuncionarioFilter">
						<div class="widget-main  ">
							<div class="row">
								<div class="col-xs-6">
									<a href="#app/newFuncionario" class="btn btn-success">
										<i class="fa fa-plus-circle"></i>
										Novo Registro
									</a>
									&nbsp; &nbsp; &nbsp;
									<a href="javascript:void(0)" id="reset" class="btn reset" >Limpar</a>
								</div>
								<div class="col-sm-6">
									<div class="input-group">
										<input id="inputNome" type="text" class="form-control search-query" placeholder="Pesquisar Funcionario por Nome">
										<span id="query" class="input-group-btn ">
											<button type="button" class="btn btn-inverse btn-white search-button">
												<span class="ace-icon fa fa-search icon-on-right bigger-110 "></span>
												Pesquisar
											</button>
										</span>
									</div>
									<div>
										<a href="javascript:void(-1)" class="show-advanced-search-button"> Pesquisa avançada... </a>
									</div>
								</div>
							</div>
							<div class="widget-box transparent advanced-search-form">
								<div class="widget-header">
									<h4 class="widget-title lighter">Filtros avançados</h4>
								</div>
								<div class="widget-body">
								<!-- inicio dos registros-->							
									<div id="groupInputNome" class="form-group">
										<label class="control-label" for="inputNome">Nome</label>
										<input type="text" id="inputNome" placeholder="Pesquise pelo Nome"  class="form-control">
									</div>
									<div id="groupInputEmail" class="form-group">
										<label class="control-label" for="inputEmail">Email</label>
										<input type="text" id="inputEmail" placeholder="Pesquise pelo Email"  class="form-control">
									</div>
									<div id="groupInputTelefone" class="form-group">
										<label class="control-label" for="inputTelefone">Telefone</label>
										<input type="text" id="inputTelefone" placeholder="Pesquise pelo Telefone"  class="form-control">
									</div>
									<div id="groupInputLimiteMensal" class="form-group">
										<label class="control-label" for="inputLimiteMensal">Limite mensal</label>
										<input type="text" id="inputLimiteMensal" placeholder="Pesquise pelo Limite mensal"  class="form-control">
									</div>
									<div id="groupInputCpf" class="form-group">
										<label class="control-label" for="inputCpf">Cpf</label>
										<input type="text" id="inputCpf" placeholder="Pesquise pelo Cpf"  class="form-control">
									</div>
									<div id="groupInputMatricula" class="form-group">
										<label class="control-label" for="inputMatricula">Matricula</label>
										<input type="text" id="inputMatricula" placeholder="Pesquise pelo Matricula"  class="form-control">
									</div>
									<div id="groupInputStatusFuncionario" class="form-group">
										<label class="control-label" for="inputStatusFuncionario">Status funcionario</label>
										<input type="text" id="inputStatusFuncionario" placeholder="Pesquise pelo Status funcionario"  class="form-control">
									</div>
									<div id="groupInputAutorizadoTicket" class="form-group checkbox">
										<label class="checkbox ">
											<input id="inputAutorizadoTicket" type="checkbox" >
											Autorizado ticket
										</label>
									</div>
									<div id="groupInputObservacao" class="form-group">
										<label class="control-label" for="inputObservacao">Observacao</label>
										<input type="text" id="inputObservacao" placeholder="Pesquise pelo Observacao"  class="form-control">
									</div>
									<div id="groupInputEmpresaContainer" class="form-group">
										<label class="control-label" for="inputEmpresa">Empresa</label>
										<div id="groupInputEmpresa" class="input-group">
											<input id="inputEmpresaId" type="hidden" class="form-control append-left"  />
											<input id="inputEmpresaNome" placeholder="Pesquise pelo Empresa"  type="text" class="form-control append-left" />
											<div class="input-group-addon append-right" id="searchEmpresaModal" data-toggle="modal">
												<span class="fa fa-search"></span>
											</div>
										</div>
									</div>		
									<div id="groupInputCentroCusto" class="form-group">
										<label class="control-label" for="inputCentroCusto">Centro custo</label>
										<select class="form-control" id="inputCentroCusto"></select>
									</div>					
								<div class=" ">
									<button type="button" class="btn btn-info btn-sm search-button">
										<i class="ace-icon fa fa-search bigger-110"></i>
										Pesquisar
									</button>
								</div>
							</div>
							</div>
							<div id="counter" class="pull-left"></div>
							<div class="row center">
								<div class="col-xs-12">
									<div class="widget-box transparent ">
										<div class="widget-body">
											<div class="widget-main padding-0">
												<div id="messages_div"></div>
												<div id="grid" class="table-responsive"></div>
												<div class="row">
													<div id="paginator" class=""></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<div id='empresaModal'></div>
